
<h3 class='text-warning'>> Adicionar Feed</h3>

<hr />

<h5 id="notice" class='text-warning'><strong><%= notice %></strong></h5>

<% if logged_in? %>

    <%= render 'form' %>
    
<% else %>
    Você precisa entrar no MyReader para adicionar um novo feed!

<% end %>

<br />