<h1>New Feed</h1>

<% if logged_in? %>
    <p>O Feed será adicionado a conta de:  <%= current_user.email %></p>
<%= render 'form' %>
<% else %>
Você precisa estar logado para adicionar um feed

<% end %>



<%= link_to 'Home', entries_path %>
