<div class="well">
<h4 class="text-center text-danger"><i class="fa fa-3x fa-smile-o"></i><br />Bem-vindo ao <strong>MyReader</strong> <%= @user.name %>,
você se cadastrou com o email: <%= @user.email %></h4>
<h4 class="text-center">Clique em uma opção para continuar:</h4><br />
<p class='text-center'><a class='btn btn-lg btn-danger' href='..'><i class="fa fa-home"></i> Início</a>
<a class='btn btn-lg btn-warning' href='#'><i class="fa fa-book"></i> Manual</a>
<%= link_to "Sair", logout_path, method: "delete", class: 'btn btn-lg btn-default' %></p>
</div>